/* styles import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* universal styles  */


*{
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    
}

/* common styles or utilities */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
}
footer{
    background: #FFFFFF;
    
}
.primary-btn{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

section{
    margin-top: 100px;
    margin-bottom: 100px;
}
/* header styles  */
.header{
   background: #ff900e1a;
}
/* navbar styles  */
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 673px;
}

.navbar .navbar-title{
   
   margin-top: 50px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #131313;
}

.navbar .navbar-links {

    margin-top: 63px;
    width: 477px;
    height: 26px;
}

.navbar .navbar-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #424242;
    margin-left: 30px;
}

/* header banner styles  */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.banner .banner-title{
   
    margin-top: 102px;
   
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}

.banner .banner-text{

   
    line-height: 26px;
    text-align: center;
    color: #727272;
}



/* features styles  */

.features{
    top: 1407px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.features .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 73px;
   
   
}
.features .container .features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
} 

.features .container .features-details .feature-details-title{
   
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
    margin-bottom: 24px;
}
.features-details .feature-details-title span{
     color: #FF900E;
}
.features-details .feature-details-text{
    line-height: 26px;
    color: #727272;
    margin-bottom: 24px;
}

/* features speciality styles  */

.features-special-container{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 146px;

}
.features-special{
    display: grid;
    grid-template-rows: 2fr repeat(4, 1fr);
    grid-row-gap: 24px;
}

.feature-special-details .feature-special-title{
    left: 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}
.feature-special-details .feature-special-title > span{
    width: 5px;
    height: 106px;
   
    color: #FF900E;
}
.feature-special-details .feature-special-subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 24px;

}

.features-special .feature-special-details .feature-special-text{
    line-height: 26px;
    color: #727272;
    margin-bottom: 24px;
}
.features-special-container .feature-special-img{
    width: 100%;
    height: auto;
}


.features-special-container .feature-special-img .feature-special-btn{
    position: absolute;
    width: 342px;
    height: 200px;
    left: 750px;
    top: 3104px;
    font-weight: 700;
    font-size: 35px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
        
} 

/* architect projects styles */
.architect-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.architect-projects .architect-projects-title{
    position: absolute;
    top: 3434px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    margin-bottom: 50px;
}
.architect-projects .architect-projects-img{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.architect-projects .architect-projects-img li{ 
    list-style: none;
}
.architect-projects .architect-projects-img .architect-photo{
    margin-top: 50px;
    width: 455px;
    height: 350px;
}
.architect-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;

}
.architect-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition:  0.5s, 0.5s;
    opacity: 0.7;
}

.architect-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

/* facts section styles  */
.facts{
   padding: 0;
}
.facts .facts-title{
    margin-right: 1200px;
    top: 4434px;
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    margin-bottom: 24px;

}
.facts .facts-text-main{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 100px;
}

.facts-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.facts-container .facts-details{
    
    box-sizing: border-box;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    
}
.facts-container .facts-details > div{
    margin-top: 45px;
    text-align: center;
    align-self: center;
}

.facts-container .facts-details:hover{
    transform: rotate(45deg);
}
/* footer styles  */

/* sponsor styles  */
.sponsor .sponsor-details{
    display: flex;
    flex-direction: column;
}
.sponsor-details .sponsor-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;

}

.sponsor-details .sponsor-text{
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 50px;
}
.sponsor-details .sponsor-icons{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   grid-column-gap: 156px;
}

/* copyright styles */
.copyright{
    position: absolute;
width: 900px;
height: 100px;
left: 400px;
top: 6300px;
text-align: center;
background: #FFF4E7;
border-radius: 8px;
margin-bottom: 200px;
}

.copyright p{
    margin-top: 40px;
}

/* media queries  */

@media only screen and (max-width: 688px) {
    .navbar{
        gap: 30px;
        flex-direction: column;
       align-items: center;
    }
    .navbar .navbar-links{
        display: grid;
        grid-template-rows: repeat(5,1fr);
        grid-row-gap: 20px;
        justify-content: center;
        margin-bottom: 50px;
    }
    .banner{
        display: grid;
        grid-template-rows: repeat(4,1fr) ;
        align-items: center;
        grid-row-gap: 30px;
    }
    .features .container{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 73px;
    }
    .features .container .features-img{
       
        grid-template-rows: repeat(4,1fr);
        grid-row-gap: 24px;
    } 
}